@import './_colors';

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;

  span {
    width: 7px;
    height: 60px;
    background-color: var(--text-primary);
    margin: 0 5px;
    border-radius: 5px;
    animation: loading 0.7s infinite linear;
  }

  .line1 {
    animation-delay: 0.1s;
  }
  .line2 {
    animation-delay: 0.2s;
  }
  .line3 {
    animation-delay: 0.3s;
  }
  .line4 {
    animation-delay: 0.4s;
  }
  .line5 {
    animation-delay: 0.5s;
  }
  .line6 {
    animation-delay: 0.6s;
  }
  .line7 {
    animation-delay: 0.7s;
  }

  @keyframes loading {
    0% {
      height: 0;
    }
    50% {
      height: 60px;
    }
    100% {
      height: 0;
    }
  }
}