@import './_colors';

.cryptos_row {
  .description {
    width: 100%;
    height: 60px;
    color: $gen_color;
    font-size: 16px;
    font-weight: 600;
    background-color: var(--bg-secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    box-shadow: 1px 2px 10px 5px #181c22;

    .search-box {
      background-color: #fefefe;
      height: 40px;
      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;
      padding: 12px;
      border-radius: 30px;
      box-shadow: 0 2px 10px #686868;

      &:hover input {
        width: 210px;
      }

      input {
        width: 0;
        border: none;
        outline: none;
        transition: 0.5s;
        background-color: transparent;
      }

      a #search-icon {
        display: flex;
        align-items: center;
        color: var(--background);
        font-size: 18px;
      }

    }
  }

  .all_cryptos {
    display: flex;
    flex-wrap: wrap;

    .container {
      color: var(--text-primary);
      width: 50%;
      font-size: 14px;
      text-align: center;
      padding: 0.4rem;

      &:nth-child(odd) {
        background-color: var(--background);
      }

      &:nth-child(even) {
        background-color: var(--card-color-2);
      }

      &:nth-child(4n-1) {
        background-color: var(--card-color-2);
      }

      &:nth-child(4n) {
        background-color: var(--background);
      }

      .card-row {
        width: 100%;
        display: flex;
        flex-direction: column;

        #arrow-icon {
          width: 100%;
          text-align: right;
          padding: 10px;
        }

        .img-clm {
          display: flex;
          justify-content: center;
          align-items: center;

          img {
            width: 80px;
            height: 80px;
            background-color: transparent;
          }
        }

        .crypto-card {
          margin-top: 0.6rem;

          .green_p {
            color: rgb(0, 129, 0);
          }

          .red_p {
            color: rgb(141, 0, 0);
            font-weight: 700;
          }
        }
      }

    }
  }
}
